.background-white
{
	background:white
}

.line-height-28{
	line-height: 28px;
}

.font-large-bold{
	font-size: large;
    font-weight: bold;
}
.color-gray{
	color:gray;
}

.margin-top-10{
	margin-top: 10px;
}

.padding-bottom-0{
	padding-bottom: 0px !important;
}

.border-1-solid-gray {
    width:100%;
    border-bottom: 1px solid gray;
}
.grid{
	padding: 6px 10px;
}
.square-img{
	width: 100%;
    height: 100px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.cover-layer{
	display: block;
    position: absolute;
    z-index: 1000000;
    width: calc(100% - 10px);
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.p-desc{
	    padding: 16px;
    background: #fff;
    line-height: 20px;
    margin: 0px;
}