page-home {

}


.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}
  ion-content.cards-bg {
    background-color: #f4f4f7;
}

.scroll-content{
  background: #ebebeb;
}

.description-message{
  padding-top: 6px;
    color: #8c8c8c !important;
}

.float-right{
  float: right;
}