<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{userInfos[1].realName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let item of chats">
        <ion-col col-2>
          <ion-thumbnail item-start *ngIf="item.userCode!= userInfos[0].userCode">
            <img src="{{userInfos[1].avator}}">
          </ion-thumbnail>
        </ion-col>
        <ion-col col-8>
          <span class="chat-message" *ngIf="item.userCode!= userInfos[0].userCode">{{item.message}}</span>
          <span class="chat-message right-chat-message" *ngIf="item.userCode== userInfos[0].userCode">{{item.message}}</span>
        </ion-col>
        <ion-col col-2>
          <ion-thumbnail item-start *ngIf="item.userCode== userInfos[0].userCode">
            <img src="{{userInfos[0].avator}}">
          </ion-thumbnail>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input type="text" [(ngModel)]="chat_input" ></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)="send()">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>