
.chat-message{
    background: #ffffff;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.right-chat-message{
  float: right;
  background: #488aff;
  color:#ffffff;
}

.scroll-content {
  overflow-y: hidden;
}

textarea.text-input {
    overflow: hidden;
    min-height: 30px;
    max-height: 60px;
    height: auto;
}